  /* GENERAL SETTINGS */
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  border: solid #cce 10px;
  color: #224;
  background: url('../bg.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: monospace;
  justify-content: center;
  display: flex;
}

.filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #224;
  opacity: .3 ;
}

h1 {
  padding-top: 30px;
}

p {
  padding-top: 15px;
  font-size: 22px;
}

.biglietto {
  opacity: .9;
  display: flex;
  flex-direction: row;
  align-self: center ;
  height: 400px;
  width: 1200px;
  max-width: 100%;
  background: #cce;
  border-radius: 20px;
}

.banda {
  display: flex;
  justify-content: flex-end;
  flex-basis: 200px;
}

.barra {
  align-self: flex-end;
  width: 100px;
  height: 100%;
  background: #224;
}

.contenuti {
  text-align: center;
  flex-grow: 1;
}

.dati {
  display: flex;
  height: 50%;
}

.km,
.eta {
  padding-top: 60px;
  width: 60%;
}

.costo p{
  padding-top: 0;
  margin-bottom: 20px;
}

.costo .btn {
  padding: 10px 20px;
  background: #224;
  color: #fff;
  border-radius: 10px;
}

.costo a {
  text-decoration: none;
  color: #222;
}
